.main-wrapper {
  gap: 7px;
}
.plain {
  color: #c8d1d9;
}
.constant {
  color: #79c0ff;
}
.instructions {
  color: #ec8e2b;
  font-weight: bold;
}
.jumps {
  color: #c79af1;
}
.label {
  color: #d2a8ff;
  font-weight: bold;
}
.criticals {
  color: #f47067;
}
.arithmetics {
  color: yellowgreen;
}
.datatypes {
  color: #8edb8c;
}
.registers {
  color: #fdad54;
  font-style: italic;
}
.operators {
  color: #a492f7;
}
.comment {
  color: rgb(107, 107, 107);
  font-style: italic;
}
